<div class="body container-fluid dashboard-page">
  <div class="sort-container row">
    
            <div class="col-lg-4 col-sm-6">
                <div class="block calendar">
                      <div class="block-heading">
            						<span mb-lang="">Calendar</span>
            					</div>
                        <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next" 
                            [showWeekdays]="true" 
                            navigation="none">
                        </ngb-datepicker>
                        <!-- <pre>Month: {{ date.month }}.{{ date.year }}</pre>
                        <pre>Model: {{ model | json }}</pre> -->
                </div>
            </div>
            
            <div class="col-lg-4 col-sm-6 ">
                <app-doughnut-chart></app-doughnut-chart>
            </div>
            
            <div class="col-lg-4 col-sm-6 ">
                <app-action-items></app-action-items>
            </div>
            
            <div class="col-lg-4 col-sm-6 ">
                <app-management-reports></app-management-reports>
            </div>
            
            <div class="col-lg-4 col-sm-6 ">
                <app-building-summary></app-building-summary>
            </div>
            
            <div class="col-lg-4 col-sm-6 ">
                <app-work-orders></app-work-orders>
            </div>
            
            <div class="col-lg-4 col-sm-6 ">
                <app-notes></app-notes>
            </div>
            
            <div class="col-lg-4 col-sm-6 ">
                <app-important-numbers></app-important-numbers>
            </div>
            
            <div class="col-lg-4 col-sm-6 ">
                <app-activity-feed></app-activity-feed>
            </div>
            
        
      </div>
</div> <!-- /.body container-fluid dashboard-page -->