<div class="body container-fluid dashboard-page">
  <div class="sort-container row">
    
            <div class="col-lg-4 col-sm-6">
                <div class="block calendar">
                      <div class="block-heading">
            						<span mb-lang="">Calendar</span>
            					</div>
                        <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next" 
                            [showWeekdays]="true" 
                            navigation="none">
                        </ngb-datepicker>
                        <!-- <pre>Month: {{ date.month }}.{{ date.year }}</pre>
                        <pre>Model: {{ model | json }}</pre> -->
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="card bg-light">
                    <div class="card-header">
                        <h6>Chart</h6>
                        <app-pie-chart></app-pie-chart>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="card bg-light">
                    <div class="card-header">
                        <h6>Cases Graph</h6>
                        <app-doughnut-chart></app-doughnut-chart>
                    </div>
                </div>
            </div>
        
      </div>
</div> <!-- /.body container-fluid dashboard-page -->